<h3>Bibliography Detail</h3>

@if(CurrentBibliography is not null)
{
    <p>Title : @CurrentBibliography.Title</p>
    <p>Author : @CurrentBibliography.Author</p>
    <p>ISBN : @CurrentBibliography.ISBN</p>
    <p>DataType : @CurrentBibliography.DataType</p>
    <p>Detail : @CurrentBibliography.Detail</p>
}

@code {

}
