<h3>LambdaData Detail</h3>

@if (CurrentLambdaData is not null)
{
    <p>Localisation : @CurrentLambdaData.Localisation</p>
    <p>Topo : @CurrentLambdaData.Topo</p>
    <p>Acces : @CurrentLambdaData.Acces</p>
    <p>EquipementSheet : @CurrentLambdaData.EquipementSheet</p>
    <p>PracticalInformation : @CurrentLambdaData.PracticalInformation</p>
    <p>Description : @CurrentLambdaData.Description</p>
}

@code {

}
